<h1> Details</h1>
<p>
  <strong>Name:</strong>
  <%= @admin.name %>
</p>

<p>
  <strong>DOB:</strong>
  <%= @admin.dob %>
</p>

<p>
  <strong>City:</strong>
  <%= @admin.city %>
</p>

<p>
  <strong>Reg_no:</strong>
  <%= @admin.reg_no %>
</p>
